/* Write your CSS here */
.similar-product-card {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-bottom: 24px;
}
.similar-image-url {
  width: 100%;
  border-radius: 14px;
}
.similar-title {
  font-size: 24px;
  font-weight: 700;
  color: #1e293b;
}
.similar-brand {
  font-size: 18px;
  font-weight: 600;
  color: #616e7c;
}
.price-rating-start-cart-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.rating-start-cart-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #3b82f6;
  border: none;
  width: 80px;
  border-radius: 8px;
}
.similar-rating {
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  margin: 9px;
}
.similar-star-imgs {
  width: 21px;
  margin: 0;
}
.similar-price {
  font-size: 20px;
  font-weight: 600;
  color: #12022f;
  margin: 9px;
}
@media screen and (min-width: 768px) {
  .similar-product-card {
    width: 300px;
    margin-right: 46px;
    justify-content: center;
  }
  .similar-image-url {
    height: 400px;
  }
  .similar-title {
    font-size: 20px;
  }
  .similar-brand {
    font-size: 16px;
  }
}
